/* Start coding here */
* {
  text-align: center;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 100vw;
  height: 100%;
  background-color: orange;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  height: 100vh;
}

.header,
.footer {
  flex-basis: 10%;
}

.header {
  background-color: rgb(10, 148, 102);
}

.footer {
  background-color: rgb(218, 221, 51);
}

.main {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
